* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #73a97f;
}

.login-container {
    display: flex;
    height: 80%;
    width: 90%;
    max-width: 1200px;
    border-radius: 10px;
    overflow: hidden;
}

.login-image {
    flex: 1;
    background-color: #ffffff; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.login-form {
    flex: 1.5;
    background-color: #ffffff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

.login-form input {
    width: 80%;
    margin-left: 20%;
    padding: 15px;
    margin: 10px 70px;
    font-size: 16px;
    border-radius: 25px;
    border: 1px solid #ddd;
    outline: none;
    transition: border-color 0.3s ease;
}

.login-form input:focus {
    border-color: #265c4b;
}

.login-form input::placeholder {
    color: #888;
}

.btn-login {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    padding: 15px;
    background-color: #265c4b;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
}

.btn-login:hover {
    background-color: #47997f;
}

.signup-link {
    margin-left: 35%;
    margin-top: 20px;
    font-size: 14px;
}

.signup-link a {
    color: #265c4b;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: none;
}

/* Responsividade */
@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
    }

    .login-image {
        display: none; /* Esconde a imagem em telas menores */
    }

    .login-form {
        width: 100%;
        padding: 20px;
    }
}
