.table{
    width: 80%;
    margin-left: 10%;
}


.tituloTB th{
    color: #00025a
}
.ctdTB td{
    color: #005d96;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
    margin: 10%;
}
.dado{
    padding-top: 1%;
    padding-left: 2%;
}
.dado1{
    padding-top: 1%;
    padding-left: 3%;
}
.dado2{
    padding-top: 1%;
    padding-left: 0%;
}